.menus{
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    box-shadow: 4px 4px 4px 4px #e4e0e0;
    background: linear-gradient(white,#ebe8e8);
    transition: all 1s;
}
.menus:hover{
    height: 4em;
}
.menu{
    background: radial-gradient(white,#ebe1e1);
    margin: .5em;
    padding: .5em;
    border-radius: 1em;
    float: left;
    list-style: none;
}
.menu li+li{
    font-size: 0;
    transition: all 1s;
}
.menu:hover li+li{
    font-size: 1em;
    background: linear-gradient(white, #ece6e6);
    margin: .5em;
    padding: .5em;
    border-radius: 1em;
    list-style-type: none;
    cursor: pointer;
    padding-left: .5em;
    margin-left: .5em;
}
.bla{
    z-index: -100;
    position: absolute;
    left: 21%;
    top: 11%;
    width:60%;
    border-radius: 1em;
    background: linear-gradient(rgb(245, 235, 235),white,rgb(245, 231, 231));
}
.bla>input{
    padding: .5em;
    margin: .5em;
    width: 90%;
    text-align: center;
    border-radius: 1em;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(white,#888);
}
.home1{
    z-index: -100;
    position: absolute;
    left: 0;
    top: 11%;
    width: 20%;
    background: linear-gradient(#AAA,#DDD);
}
.home2{
    z-index: -100;
    position: absolute;
    left: 0;
    top: 66%;
    width: 70%;
    background: linear-gradient(#AAA,#DDD);
}
.home3{
    z-index: -100;
    position: absolute;
    left: 21%;
    top: 11%;
    width:60%;
    background: linear-gradient(#AAA,#DDD);
}
.home4{
    z-index: -100;
    position: absolute;
    left: 82%;
    top: 11%;
    width: 18%;
    background: linear-gradient(#AAA,#DDD);
}
.home5{
    z-index: -100;
    position: absolute;
    left: 71%;
    top: 66%;
    width: 29%;
    background: linear-gradient(#AAA,#DDD);
}